/* ---------------------------- */
/* ----- Custom property ----- */


/* Light theme colors */
.light-theme {
    --background-primary: rgb(200, 200, 190);
    --background-secondary: rgb(170, 170, 165);

    --typography-primary: rgb(40, 40, 40);
    --typography-secondary: rgb(90, 100, 105);
    --accent: rgb(65, 105, 140);
}

/* Dark theme colors */
.dark-theme {
    --background-primary: rgb(45, 45, 50);
    --background-secondary: rgb(85, 85, 90);

    --typography-primary: rgb(220, 215, 215);
    --typography-secondary: rgb(150, 140, 135);
    --accent: rgb(190, 150, 120);
}

:root {

    /* Typography */
    --fs-base: 1rem;
    --fs-1: 1.35rem;
    --fs-2: 2.5rem;
    --fs-3: 3.5rem;
    --fs-4: 5rem;
}

/* ---------------------------- */
/* ----- Universal reset ----- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--background-secondary) var(--background-primary);
}

/* ScrollBar */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--background-secondary);
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: var(--typography-primary);
}

a:hover {
    color: var(--accent);
}

li {
    list-style: none;
}

img,
button {
    display: block;
}

a,
span {
    display: inline-block;
}

button,
input {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

html {
    font-family: "Inter", sans-serif;
    font-size: var(--fs-base);
}

/* :focus {
    outline: 2px solid var(--accent);
} */

/* ---------------------------- */
/* ---------- Common ---------- */

body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-primary);
}

body::before {
    content: "timetracker";
    position: fixed;
    z-index: -1;
    bottom: -2%;
    left: 50%;
    color: var(--background-secondary);
    font-size: 15.25vw;
    line-height: .75em;
    font-weight: 900;
    opacity: .2;
    transform: translateX(-50%);
}

body::after {
    content: "timetracker";
    position: fixed;
    z-index: -2;
    bottom: -1%;
    left: 50%;
    text-shadow: -1px -1px 0 var(--background-secondary), 1px -1px 0 var(--background-secondary), -1px 1px 0 var(--background-secondary), 1px 1px 0 var(--background-secondary);
    color: var(--background-primary);
    opacity: .4;
    font-size: 15.75vw;
    line-height: .75em;
    font-weight: 900;
    transform: translateX(-50%);
}

.container {
    width: 100%;
    height: 100%;
    padding: 2.5vw 2.5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    font-size: var(--fs-1);
    position: absolute;
    z-index: -1;
}

/* Timer */
.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    /* min-width: 405px; */
}

.timer__title {
    width: 100%;
    height: 35px;
    font-size: var(--fs-1);
    font-weight: 300;
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

.timer__progres-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    width: 100%;
    min-height: 40px;
}

.timer__bar-zero-element {
    width: 1px;
    height: 15px;
    background-color: var(--accent);
}

.timer__bar-element {
    width: 1px;
    height: 7.5px;
    background-color: var(--background-secondary);
}

.timer__bar-element:nth-last-child(5n+1) {
    height: 15px;
}

.timer__bar-element--active {
    height: 15px;
    background-color: var(--accent);
}

/* .timer__bar-element--active::before,
.timer__bar-element--active::after {
    display: block;
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--accent);
}

.timer__bar-element--active::before {
    transform: translate(-3px, 5px);
}

.timer__bar-element--active::after {
    transform: translate(3px, -15px);
} */

.timer__start {
    font-size: var(--fs-2);
    font-weight: 300;
    color: var(--typography-secondary);
}

.timer__value {
    min-width: 355px;
    text-align: center;
    font-size: var(--fs-4);
    line-height: var(--fs-4);
    font-weight: 600;
    color: var(--typography-primary);
}

.timer__end {
    font-size: var(--fs-2);
    font-weight: 300;
    color: var(--typography-secondary);
}

.timer__control-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 40px;
    /* width: 100%; */
}

.timer__btn {
    position: relative;
    width: var(--fs-2);
    height: var(--fs-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-1);
    color: var(--accent);
}

/* Works */

.works {
    width: 50%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Works Nav */

.works__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--accent);
    padding: var(--fs-base) 0;
    border-bottom: 2px solid var(--accent);
}

.works__btn {
    position: relative;
    width: var(--fs-2);
    height: var(--fs-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-1);
    color: var(--accent);
}

.works__day {
    font-size: var(--fs-1);
    line-height: var(--fs-1);
}

/* Works items */

.works-list__item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    font-size: var(--fs-1);
    color: var(--typography-primary);
    border-bottom: 1px solid var(--typography-secondary);
}

/* .works-list__name {
    padding-right: var(--fs-base);
} */

.wokrs-list__input {
    flex-grow: 1;
    color: var(--typography-primary);
}

.wokrs-list__input:focus {
    outline: 2px solid var(--accent);
}

.works-list__btn {
    position: relative;
    width: var(--fs-2);
    height: var(--fs-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-1);
    color: var(--background-secondary);
}

.works-list__btn:hover {
    color: var(--accent);
}

.works__btn--hidden {
    visibility: hidden;
}

/* .works-list__cancel-btn {
    position: relative;
    width: var(--fs-2);
    height: var(--fs-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-1);
    color: var(--accent);
} */

.works-list__time {
    flex-grow: 1;
    text-align: right;
    /* cursor: pointer; */
}

/* Works list foter */

.works-list__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--fs-base) 0;
}

.works-list__add-btn {
    position: relative;
    width: var(--fs-2);
    height: var(--fs-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-1);
    color: var(--accent);
}

.works-list__total-time {
    text-align: right;
    flex-grow: 1;
    font-size: var(--fs-1);
    color: var(--typography-primary);
}

.dark-mode-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.4rem;
    height: 3.4rem;
    top: 15px;
    right: 15px;
    border-radius: 100%;
}

.dark-mode-btn__icon {
    font-size: 1.5rem;
    color: var(--accent);
    transform: rotate(-90deg);
    transition: transform 1s ease-in-out;
}

.dark-mode-btn__icon--rotate {
    transform: rotate(180deg);
    transition: transform 1s ease-in-out;
}

/* -------- Modifiers -------- */

.hidden {
    display: none;
}

/* ---------------------------- */
/* ------ Media queries ------ */
@media (min-width: 450px) and (max-width: 899px) {
    .container {
        padding: 2vw 2vw;
    }

    .works {
        width: 70%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 100vw;
        height: 100vh;
        padding: 5vw 5vw;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .timer {
        padding: 0;
        width: auto;
        max-width: 40%;
    }

    .timer__value {
        text-align: center;
        min-width: 355px;
    }

    .devider {
        width: 1px;
        background-color: var(--background-secondary);
        margin: 0 5%;
    }

    .works {
        width: 35%;
    }

    .works-list {
        padding: 1%;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
}